.nav {
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav li {
  background-color: #B3282F;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

